
html, body {
    margin: 0;
    padding: 0;
}

.css-3fvbj1-MuiButtonBase-root-MuiIconButton-root {
    color: #2c3e50 !important;
}
.css-1xd5iyw-MuiTableCell-root {
    /*background: #4caf50 !important;*/
}

.css-1umw9bq-MuiSvgIcon-root {
    color: #2c3e50 !important;
}